<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Oleo+Script:700|Open+Sans" rel="stylesheet">
	<meta name="description" content="Glaces ice Roll">
	<meta name="author" content="Cuisine à Dany">
	<title>Ice Roll Lausanne</title>
	<link rel="stylesheet" href="../public/css/index.css">
	<link rel="stylesheet" href="../public/css/responsive.css">
	<link rel="stylesheet" href="../public/css/datedropper.min.css">
</head>
<body class="home">
	<header>
 		<span class="logo"><img src="../public/svg/logoIceRoll_logo_raspberry_2.svg" alt="logo ice roll lausanne"></span>
 		<div class="network">
 			<a href="tel:+41786725402" class="button-svg">
				<button>
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
					<title>phone</title>
					<g id="icomoon-ignore">
					</g>
					<path d="M352 320c-32 32-32 64-64 64s-64-32-96-64-64-64-64-96 32-32 64-64-64-128-96-128-96 96-96 96c0 64 65.75 193.75 128 256s192 128 256 128c0 0 96-64 96-96s-96-128-128-96z"></path>
					</svg>

				</button>
			</a>
			<a href="mailto:info@iceroll-lausanne.ch" class="button-svg">
				<button>
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
					<title>Mail</title>
					<g id="icomoon-ignore">
					</g>
					<path d="M426.671 0h-341.328c-46.937 0-85.343 38.405-85.343 85.345v341.311c0 46.969 38.406 85.344 85.343 85.344h341.328c46.938 0 85.329-38.375 85.329-85.345v-341.31c0-46.94-38.391-85.345-85.329-85.345zM426.671 64c3.994 0 7.773 1.167 11.010 3.171l-181.681 150.202-181.677-150.2c3.239-2.005 7.022-3.173 11.020-3.173h341.328zM85.343 448c-0.962 0-1.91-0.073-2.842-0.204l112.813-156.483-14.628-14.627-116.686 116.685v-305.569l192 232.198 192-232.197v305.568l-116.686-116.685-14.627 14.627 112.814 156.484c-0.929 0.13-1.873 0.203-2.831 0.203h-341.327z"></path>
					</svg>

				</button>
			</a>
 		</div>
	</header>
	<aside>
		<div class="center-img">
			<div class="image_header" ></div>
		</div>
	</aside>
	<section class="presentation">
		<article>
			<h1>Glaces ice roll cuisine passion <br><span class="big-title">« Show devant »!</span></h1>
			<p>Iceroll est un concept unique de crème glacé roulé sur plaque réfrigéré à -30°. De l’entrée au dessert nous proposons une animation. Tout au long de vos évènements avec une carte qui évolue au fil des saisons et mets en lumière des éditions limitées ou vos plus grands classiques.</p>
			<p>Sur la plaque à -30° la base qui est un mélange de lait, de sucre se fige instantanément et avec l’aide de spatules les icerollers vont racler la crème glacée pour former des petits rouleaux. Au bout d’une minute, la glace est transformée instantanément devant les convives.</p>
		</article>
		<article>
			<h3>Un véritable « spectacle » pour une glace « originale ».</h3>
			<div class="row">
				<div>
					<img src="../public/img/dany.png" alt="dany qui fait des iceroll">
				</div>
				<div>
					<img src="../public/img/plage.png" alt="stand iceroll devant lausanne sur mer">
				</div>
				<div>
					<img src="../public/img/glace-iceroll.png" alt="Presentation d'une glace ice roll à Lausanne sur mer">
				</div>
				<div>
					<img src="../public/img/iceRollFruits.png" alt="Présentation de fruits pour la glace iceroll">
				</div>
			</div>
			<div class="description_img">
					<p>Quand dans une glace il n’y a que des fruits et des produits naturels frais, il ne faut vraiment pas se priver.</p>

					<p>C’est une gourmandise rafraichissante qui satisfera les palais et papilles des petits et grands, « Un vrai régal »</p>

					<p>Pour les personnes intolérantes au lactose et les véganes nous proposons des crèmes glacées au lait d’amandes et de coco comme base pour nos recettes.</p> 
				</div>
		</article>
	</section>

	<section class="receipts">
		<article>
			<h2>Nos cartes évoluent au fil des saisons.</h2>
			<p>Tous nos produits sont frais sans arôme ni conservateur, certains de la région et d’autres exotiques sélectionnés rigoureusement.</p>
		</article>
		<article class="card">
			<ul>
				<h4>Salées</h4>
				<li><strong>Italian connexion :</strong><br>Tomate - basilic</li>
				<li><strong>Andalou sun :</strong><br>Carotte - orange</li>
				<li><strong>Mexican style :</strong><br>Avocat - citron vert</li>
				<li><strong>Indian dessert :</strong><br>Potiron - curry</li>
			</ul>
		</article>
		<article class="card">
			<ul>
				<h4>Sucrées</h4>
				<li>Framboise</li>
				<li>Fraise</li>
				<li>Mangue</li>
				<li>Vanille bourbon</li>
				<li>Banana split</li>
				<li>Melon</li>
				<li>Chocolat</li>
				<li>Café</li>
				<li>Caramel</li>
				<li>Poire</li>
				<li>Pomme</li>
				<li>Fruit de la passion</li>
				<li>Gingembre</li>
				<li>Pêche</li>
				<li>Kiwi</li>
			</ul>
		</article>
		<article class="card">
			<ul>
				<h4>Cocktails</h4>
				<li><strong>Mojito :</strong><br>menthe - citron vert - rhum</li>
				<li><strong>Punch Tropical :</strong><br>mangue - ananas - rhum</li>
				<li><strong>Limon colada :</strong><br>limoncello - citron - noix de coco</li>
				<li><strong>Sex on the beach :</strong><br>ananas - framboise - grenade - rhum</li>
				<li><strong>Tempête tropical :</strong><br>fruit de la passion - piment - vanille - rhum blanc</li>
				<li><strong>Caipiriniha :</strong><br>citron vert - menthe - sucre brun - cachaça</li>
			</ul>
		</article>
	</section>
			
	<footer>
		<!--div class="orange"><img src="img/orange.png" alt=""></div-->
		<article>
			<form method="post" action="send">
				<h3>Demande de devis</h3>
				{{msg}}
				<div class="row">
					<div class="field">
						<label for="name" class="field-label">Nom</label>
						<input type="text" id="name" name="name" class="field-input"  pattern="^[a-zA-Z|\s]{0,30}$" required>
						<span>Vous devez rentrer des lettres</span>
					</div>
					<div class="field">
						<label for="vorname" class="field-label">Prénom</label>
						<input type="text" id="vorname" name="vorname" class="field-input"  pattern="^[a-zA-Z|\s]{0,30}$" required>
						<span>Vous devez rentrer des lettres</span>
					</div>
				</div>
				<div class="row">
					<div class="field">
						<label for="phone" class="field-label">Téléphone</label>
						<input type="text" id="phone" name="phone" class="field-input" size="10" pattern="^[\+|0]{0,3}[0-9\s]{0,15}" required>
						<span>+41 XX XXX XX XX</span>
					</div>
					<div class="field">
						<label for="email" class="field-label">Email</label>
						<input type="email" id="email" name="email" class="field-input" required >
						<span>Inscrivez une adresse email valide</span>
					</div>
				</div>
				<div class="row">
					<div class="field">
						<label for="numberPeople" class="field-label">Nombre de convives</label>
						<input type="text" id="numberPeople" name="numberPeople" class="field-input" pattern="^[0-9]{0,6}" required >
						<span>Mettez un nombre</span>
					</div>
					<div class="field">
						<label for="place" class="field-label">Lieu</label>
						<input type="text" id="place" name="place" class="field-input" pattern="^[a-zA-Z|\s]{0,30}$" required >
						<span>Mettez une ville</span>
					</div>
				</div>
				<div class="row">
					<div class="field">
						<!--label for="date" class="field-label">Date</label-->
						<input id="date" name="date" class="field-input" data-theme="datedropper-style" >
					</div>
					<div class="field">
						<label for="duration" class="field-label">Durée</label>
						<input type="text" id="duration" name="duration" class="field-input" required >
						<span>Mettez un nombre</span>
					</div>
				</div>
				<div class="textarea">
					<textarea name="textarea" id="textarea" placeholder="Message"></textarea>
				</div>
				<button type="submit" class="submit">Envoyer</button>
			</form>
		</article>
	</footer>
	<script src="../public/js/jquery.js"></script>
	<script src="../public/js/datedropper.min.js"></script>
	<script src="../public/js/app.js"></script>
</body>
</html>